name: .NET Build Matrix

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        dotnet-version: [ "6.0.x", "7.0.x", "8.0.x" ]
        rid: [ "linux-musl-x64", "ubuntu.18.04-x64", "ubuntu.20.04-x64" ]

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet publish -c Release -r ${{ matrix.rid }} --self-contained=true /p:PublishSingleFile=true /p:PublishTrimmed=true
